.main {

    width: calc(100% - 250px);
    background-color: rgb(18, 18, 18);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main-wraper {

    padding-bottom: 200px;
}

@media screen and (max-width: 1700px) {

    .main-col {

        width: 20%;
    }
}

@media screen and (max-width: 100px) {

    .main {

        width: 100%;
    }

    .sidebar {

        display: none;
    }

    .main-col {

        width: 49%;
        margin-right: 2%;
    }
}