<div class="sidebar">
    <div class="sidebar-wraper">
        <div class="sidebar-logo">
            <img src="assets/images/logo.png" />
        </div>

        <div class="sidebar-menu">
            <a class="sidebar-menu-selected" href="/index">
                <i class="fas fa-home"></i> Inicio</a>
            <a href=""><i class="fas fa-search"></i> Buscar</a>
            <a href=""><i class="fas fa-database"></i> Biblioteca</a>
            <a href=""><i class="fas fa-database"></i> Artistas</a>
        </div>

        <div class="sidebar-playlists">
            <a href="">Playlist 1</a>
            <a href="">Playlist 2</a>
            <a href="">Playlist 3</a>
            <a href="">Playlist 4</a>
        </div>
    </div>
</div>