<div class="player">
    <div class="player-artist"></div>

    <div class="player-control">
        <div class="player-control-buttons">
            <a class="pass"><i class="fas fa-backward"></i></a>

            <a style="display: none;" id="btnPause" class="play-pause"><i class="fas fa-pause-circle"></i></a>

            <a id="btnPlay" class="play-pause"><i class="fas fa-play-circle"></i></a>

            <a class="pass"><i class="fas fa-forward"></i></a>
        </div>

        <div class="player-control-track">
            <div id="current-time" class="time"></div>

            <div class="player-control-track-progress">
                <div class="player-control-track-progress-2"></div>
            </div>

            <div id="full-time" class="time"></div>
        </div>
    </div>
</div>

<audio id="audio-player" controls=""></audio>